*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
}

.img-fluid{
    margin-top: 20px;
    width: 100%;  
}
.contenedor{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

h4{
    text-align: center;       
}
.row{
    margin-top: 50px;
}

.registro{
    margin-top: 500px;
}

.titulo{
   margin-top: 70px;
   margin-left: 20px;
}
.lugares{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}
.titulo2{
    margin-top: 70px;
    margin-left: 20px;
}

.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
    justify-content: space-evenly;
}
.footer{
    background-color: #24262b;
    padding: 40px 0;
    margin-top: 300px;
    height: 400px;
    
}
.footer-col{
    width: 30%;
    padding: 0 15px;
    margin-left: -38px;
    
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 5px;
    width: 90px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 14px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
}


@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}
.actividades{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    
}
.alinear {
    margin-top: 30px;
}
.card{
    margin-top: 20px;
}
.subtitulo{
    margin-top: 55px;
}
body { 
    background: #e0e0e0; 
} 
#cal { 
    margin:70px auto; 
    font: 13px/1.5 "Helvetica Neue", Helvatica, Arial, san-serif; 
    display:table; 
    width: 500px;
}
#cal .header { 
    cursor:default; 
    background: #cd310d; 
    background: -moz-linear-gradient(top, #b32b0c, #cd310d);  
    height: 45px; 
    position: relative; 
    color:#fff; 
    -webkit-border-top-left-radius: 5px; 
    -webkit-border-top-right-radius: 5px; 
    -moz-border-radius-topleft: 5px; 
    -moz-border-radius-topright: 5px; 
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
    font-weight:bold; 
    text-shadow:0px -1px 0 #87260C; 
    text-transform: uppercase; 
} 
#cal .header span { 
    display:inline-block; 
    line-height:34px; 
}
#cal .header .hook { 
    width: 9px; 
    height: 32px; 
    position: absolute; 
    bottom:60%; 
    border-radius:10px; 
    -moz-border-radius:10px; 
    -webkit-border-radius:10px; 
    background:#ececec; 
    background: -moz-linear-gradient(right top, #fff, #827e7d);  
    box-shadow:0px -1px 2px rgba(0, 0, 0, 0.65 ); 
    -moz-box-shadow:0px -1px 2px rgba(0, 0, 0, 0.65 ); 
    -webkit-box-shadow:0px -1px 2px rgba(0, 0, 0, 0.65 ); 
} 
.right.hook { 
    right:15%; 
} 
.left.hook { 
    left: 15%; 
}
#cal .header .button { 
    width:24px; 
    text-align:center; 
    position:absolute; 
} 
#cal .header .left.button { 
    left:0; 
    -webkit-border-top-left-radius: 5px; 
    -moz-border-radius-topleft: 5px; 
    border-top-left-radius: 5px; 
    border-right:1px solid #ae2a0c; 
} 
#cal .header .right.button { 
    right:0; 
    top:0; 
    border-left:1px solid #ae2a0c; 
    -webkit-border-top-right-radius: 5px; 
    -moz-border-radius-topright: 5px; 
    border-top-right-radius: 5px; 
} 
#cal .header .button:hover { 
    background: -moz-linear-gradient(top, #d94215, #bb330f); 
}
#cal .header .month-year { 
    letter-spacing: 1px; 
    width: 100%; 
    text-align: center; 
}
#cal table { 
    background:#fff; 
    border-collapse:collapse; 
} 
#cal td { 
    color:#2b2b2b; 
    width:30px; 
    height:30px; 
    line-height:30px; 
    text-align:center; 
    border:1px solid #e6e6e6; 
    cursor:default; 
} 
#cal #days td { 
    height:52px; 
    width: 500px;
    line-height: 26px; 
    text-transform:uppercase; 
    font-size:90%; 
    color:#9e9e9e; 
} 
#cal #days td:not(:last-child) { 
    border-right:1px solid #fff; 
}
#cal #cal-frame td.today { 
    background:#ededed; 
    color:#8c8c8c; 
    box-shadow:1px 1px 0px #fff inset; 
    -moz-box-shadow:1px 1px 0px #fff inset; 
    -webkit-box-shadow:1px 1px 0px #fff inset; 
} 
#cal #cal-frame td:not(.nil):hover { 
    color:#fff; 
    text-shadow: #6C1A07 0px -1px; 
    background:#CD310D; 
    background: -moz-linear-gradient(top, #b32b0c, #cd310d); 
}
#cal #cal-frame td span { 
    font-size:90%; 
    position:relative; 
} 
#cal #cal-frame td span:first-child { 
    bottom:5px; 
} 
#cal #cal-frame td span:last-child { 
    top:5px; 
}
#cal #cal-frame table.curr { 
    float:left; 
    width: 500px; 
    height: 300px;    
} 
#cal #cal-frame table.temp { 
    position:absolute; 
}